# Sets

In [3]:
emails = [
    "anna@example.com", "bob@example.com", "anna@example.com",
    "carla@example.com", "bob@example.com"
]
emails

['anna@example.com',
 'bob@example.com',
 'anna@example.com',
 'carla@example.com',
 'bob@example.com']

In [4]:
set(emails)

{'anna@example.com', 'bob@example.com', 'carla@example.com'}

In [5]:
list(set(emails))

['bob@example.com', 'carla@example.com', 'anna@example.com']

## Mathematical set operation

- union
- intersection
- except

In [8]:
first_month_customers = {"alice", "bob", "carla", "daniel"}
second_month_customers = {"carla", "daniel", "elena"}

returning_customers = first_month_customers.intersection(second_month_customers)
returning_customers

{'carla', 'daniel'}

In [11]:
all_customers = first_month_customers.union(second_month_customers)
all_customers

{'alice', 'bob', 'carla', 'daniel', 'elena'}

## combine union and except intersection

In [14]:
one_time_customers = first_month_customers.union(second_month_customers) - first_month_customers.intersection(second_month_customers)

one_time_customers

{'alice', 'bob', 'elena'}

### sets have no orders

In [15]:
all_customers[0]

TypeError: 'set' object is not subscriptable

In [16]:
list(all_customers)

['carla', 'alice', 'daniel', 'elena', 'bob']

In [17]:
tuple(all_customers)

('carla', 'alice', 'daniel', 'elena', 'bob')