# Strings

In [ ]:
# Concatenate multiple strings with + operator
# remember + operator has another meaning when it comes to numeric variables
firstname = "Indira"
lastname = "Mahadiva"

fullname = firstname + " " + lastname
fullname

'Indira Mahadiva'

In [ ]:
#f-string with multiline
firstname = "Indira"
lastname = "Mahadiva"
fullname = firstname + " " + lastname
work = "Structura Restaurant AB"
address = "R책gstigen 11"
phone = "112"

contact_details = f"""
name: {fullname}
work: {work}
address: {address}
phone: {phone}
"""

print(contact_details)

name: Indira Mahadiva
work: Structura Restaurant AB
address: R책gstigen 11
phone: 112

In [ ]:
# concatenate with lopp
menu = ["chili con carne","pancakes", "noodles", "pokebowl", "taco"]
days = ["mo", "tu", "wed", "thu", "fri"]

weekly_menu = "Weekly menu\n"

for day, food in zip(days, menu):
    weekly_menu += f"{day:<10} {food}\n"

print(f"        {weekly_menu}")

        Weekly menumo         chili con carne
tu         pancakes
wed        noodles
thu        pokebowl
fri        taco

In [6]:
quote = "!False - it's funny because it's True"
quote

"!False - it's funny because it's True"

In [7]:
quote[0]

'!'

In [8]:
quote[-1]

'e'

In [10]:
quote[:6]

'!False'

In [ ]:
string_to_check = "anna"
string_to_check[::-1] == string_to_check

False

## split and cleaning a string

In [12]:
subjects = "Math, biology,   cHemistry  ,   PrOgramming     "
subjects

'Math, biology,   cHemistry  ,   PrOgramming     '

In [13]:
subjects = subjects.split(",")
subjects

['Math', ' biology', '   cHemistry  ', '   PrOgramming     ']

In [ ]:
# strip off leading and trailing space
# check out also rstrip() and lstrip()
subjects = [subject.strip().upper() for subject in subjects]
for subject in subjects:
    print(f"{subject} has {len(subject)} characters")

MATH has 4 characters
BIOLOGY has 7 characters
CHEMISTRY has 9 characters
PROGRAMMING has 11 characters

## regular expressions

In [17]:
import re

text = "Det var en g책ng en katt som tog p책 sig en hatt"
match_list = re.findall(r".att", text)
match_list

['katt', 'hatt']

In [18]:
personal_numbers = "Ida: 19950516-2235, Berit: 19581212-3213, Ada: 050524-1513"
match_long = re.findall(r"\d{8}-\d{4}", personal_numbers)
match_long

['19950516-2235', '19581212-3213']

In [20]:
match_short = re.findall(r"\d{6}-\d{4}", personal_numbers)
match_short

['950516-2235', '581212-3213', '050524-1513']